@tailwind base;
@tailwind components;
@tailwind utilities;

/* setup */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src: local('IBM Plex Sans Condensed'), url('../src/assets/font/IBMPlexSansCondensed-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url('../src/assets/font/OpenSans-Regular.ttf') format('ttf');
}

body{color:#fff; scroll-behavior: smooth; font-family:'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;background-color: #fff;}

/* typography */

h1{
  /* font-family: 'IBM Plex Sans Condensed' !important; */
  font-size: 6.25rem;
  font-weight: 600;
  line-height: normal;
}
h2{
  font-size: 4.5rem;
  font-weight: 600;
  line-height: normal;
}
h3{
  font-size: 2.5rem;
  font-weight: 600;
  line-height: normal;
}
h4{
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}
h5{
  font-weight: 600;
  line-height: normal;
}
h6{
  font-weight: 600;
  line-height: normal;
}
p,span,i,li,a{
  font-weight: normal;
  line-height: 1.688rem;
}
a:hover{color: #00173f;}
/* color */
.text-color-primary{color:#144688;}
.text-color-alternate{color:#fff;}

/* background */
.background-primary{background-color: #144688;}
.background-secondary{background-color: #FCCF08;}
.background-tertiary{background-color: #ffdd60;}

.smc-px{padding: 0 4.3rem;}

.bg-smc-1{background-color: #144688;}
.bg-smc-2{background-color: #FCCF08;}
.bg-smc-3{background-color: #ffdd60;}
.bg-smc-4{background-color: #00173f;}
.bg-smc-5{background-color: #fffdf1;}

.clr-smc-1{color: #144688;}
.clr-smc-4{color: #00173f;}

/* home */
.our-cap-title h1{
  -webkit-text-stroke: 2px black;
  text-shadow: 3px 3px 0px #FCCF08;
}
.card-anim-active .btn-left-wrapper{
  left: 0;
  transition: all 1s linear;
  opacity: 0;
}
.card-anim-active .btn-right-wrapper{
  right: 0;
  transition: all 1s linear;
  opacity: 0;
}
.card-anim-active:hover .btn-left-wrapper{
  left: -30%;
  transition: all 1s linear;
  opacity: 1;
}
.card-anim-active:hover .btn-right-wrapper{
  right: -30%;
  transition: all 1s linear;
  opacity: 1;
}

/* ourworks */
.menu-side-title-active img{
  transform: rotate(90deg);
}
.menu-side-title-2 img{
  transform: rotate(90deg);
}
.menu-side-title-active-2 img{
  transform: rotate(0deg);
}

/* hover nav */
.hover\:bg-inherit:hover{background-color: unset !important;}
:where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):not(summary, .active, .btn).focus, :where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):not(summary, .active, .btn):focus, :where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):is(summary):not(.active, .btn):focus-visible, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(summary, .active, .btn).focus, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(summary, .active, .btn):focus, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):is(summary):not(.active, .btn):focus-visible{background-color: unset !important;}